body{
	font-family: 'Alegreya Sans', sans-serif;
}
input[type="number"],input[type="text"]{
	height: 30px;
	border: 1px solid #999 !important;
}
.App {
  text-align: center;
}
.App-header{
  display: flex;
}
.buttonMexgis input[type="submit"] {
    height: 30px;
    margin: 5px;
}
.btn.btn-warning:active, input.btn.btn-warning:focus {
	background: #1D4E87;
}
.search-box{
	font-size: 0px;
}
.search-box input{
	font-size: 14px !important;
}
.search-box:before {
    content:'Buscar:';
    font-size: 14px;
}
.copyright{
  height: 50px;
  background-color: #1D4E87;
  color: #fff;
  display: flex;
  justify-content: center;
}
.title{
  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
 font-weight: normal;
        font-size: 3.75em;
 letter-spacing: .2em;
 line-height: 1.1em;
 margin:0px;
 text-align: center;
 text-transform: uppercase;
}
input[type="submit"],input[type="button"]{
	background: #1D4E87;
	padding: 7px 15px;
	color: #ffffff;
	text-transform: uppercase !important;
	margin: 0px 5px;
	border-radius: 0;
    border: 0px;
}
.btn.btn-warning:hover{
	background: #1D4E87;
    padding: 7px 15px;
    color: #ffffff;
    text-transform: uppercase !important;
    margin: 0px 5px;
    border-radius: 0;
    border: 0px;
}
nav.fl{
	display:flex; 
	justify-content:flex-end
}
footer{
	margin-top: auto !important;
}
em{
	color:red;
}
a,p.pointer{
	text-decoration: none;
	color:black;
	margin-left: 5px;
}
a:hover,p.pointer:hover{
	text-decoration: underline;
	color:#1D4E87;
}
.container-t{
	min-height:75vh;
}
.buttonMexgis{
	display: flex;
	justify-content: center;
}
.sortable-table .table thead th{
	background: #1D4E87 !important;
}
.sortable-table .search-box input.search{
	border-radius: 0px !important;
}
.App{
	display: flex;
    flex-direction: column;
    min-height: 100vh !important;
}
footer{
	justify-content: flex-end;
}
footer div{
	width: 100% !important;
}
th br {
    display: none;
}
.sortable-table .table thead th{
	height: auto !important;
}
label.SortableTblLabel {
    display: none;
}
#showpages{
	display: block;
}
select {
    border-radius: 0px !important;
}
.h-3{
	height: 30px;
}
.btn[disabled]:hover{
	  background: #1D4E87;
}
@media(min-width: 1024px){
body .mv3 {
    margin-top: 16px;
    margin-bottom: 16px;
}
body .mw6 {
    max-width: 32.5%;
}
body .f1 {
    font-size: 48px;
}
body .f6 {
    font-size: 14px !important;
}
}
option[value="All"] {
    display: none;
}